{% extends "base.html" %}
{% load static %}
{% block content %}
{% load transl_extras %}

<style>
	.menuitem1{
		text-decoration: underline !important;
	}

</style>


<div class="aboutprojectdesktop">
<div class="aboutproject">
	<span class="about_project_header">{% t 'about_project' %}</span>
	<div class="about_project_text_div">
		<span class="about_project_text">{{about_project.project_info}}</span>
	</div>
	<span class="donors_text_design">დონორები</span>
	<span class="donors_text_info">{{about_project.donors_text}}</span>
	
	<div class="supportsinproject">
		<a href=""><img src="{% static '/icons/usaid.png' %}" style="width: 23%;  margin-left: auto;
  margin-right: auto;"></a>
		<a href=""><img src="{% static '/icons/zinc.png' %}" style="width: 28%; margin-left: 8%"></a>
		<a href=""><img src="{% static '/icons/idfi.png' %}" style="width: 33%; float: right;"></a>
	</div>

	<span class="supportsecondheader">მხარდამჭერები</span>
	<span class="supportsecondtext">{{about_project.support_text}}</span>


	
</div>
</div>


<center>
<div class="aboutprojectmobile">
		<span class="aboutprojectmobileheader">პროექტის შესახებ</span>
		<span class="aboutprojectmobileinfo">{{about_project.project_info}}</span>

		<span class="aboutprojectmobiledonors">დონორები</span>
		<span class="aboutprojectmobiledonorsinfo">{{about_project.donors_text}}</span>

		<div class="aboutprojectmobiledonorsimg">
		<a href="">
			<img src="{% static '/icons/usaid.png' %}" style="display: block; margin-right: 100%; width: 113px; margin-top: 24px;">
		</a>
		<a href="">
			<img src="{% static '/icons/zinc.png' %}" style="display: block; margin-right: 100%; width:141px;">
		</a>
		<a href="">
			<img src="{% static '/icons/idfi.png' %}" style="display: block; margin-right: 100%; width: 170px;">
		</a>
		</div>
		<img class="aboutprojectimgmobile" src="{% static about_project.post_img_second %}">

		<span class="aboutprojectmobiledonors">დონორები</span>
				<span class="aboutprojectmobiledonorsinfo">აქ თქვენ შეგიძლიათ გაეცნოთ ისტორიულ მოვლენებს,აქ თქვენ შეგიძლიათ გაეცნოთ ისტორიულ მოვლენებს,აქ თქვენ შეგიძლიათ გაეცნოთ ისტორიულ მოვლენებს,აქ თქვენ შეგიძლიათ გაეცნოთ ისტორიულ მოვლენებს,აქ თქვენ შეგიძლიათ გაეცნოთ ისტორიულ მოვლენებს.</span>

			<br><br><br><br>


</div>
</center>

{% endblock %}