{% extends "base.html" %}
{% load static %}
{% block content %}
{% load transl_extras %}

<style>
	.menuitem1{
		text-decoration: underline !important;
	}

</style>


<div class="aboutprojectdesktop">
<div class="aboutproject">
	{% if lang == 'ka' %}
	<span class="about_project_header">{% t 'about_project' %}</span>
	{% else %}
	<span class="about_project_headeren">{% t 'about_project' %}</span>
	{% endif %}
	<div class="about_project_text_div">
		<span class="about_project_text">{{about_project.project_info}}</span>
	</div>
	{% if lang == 'ka' %}
	<span class="donors_text_design">{% t 'donors' %}</span>
	{% else %}
	<span class="donors_text_designen">{% t 'donors' %}</span>
	{% endif %}
	<span class="donors_text_info">{{about_project.donors_text}}</span>
	
	<div class="supportsinproject">
		<a href="https://www.usaid.gov/"><img src="{% static '/icons/usaid.png' %}" style="width: 15%; float: left;"></a>
		<a href="https://zincnetwork.com/"><img src="{% static '/icons/zinc.png' %}" style="width: 17%; float: left; margin-left: 5%;"></a>
		<a href="https://idfi.ge/ge"><img src="{% static '/icons/idfi.png' %}" style="width: 21%; float: left; margin-left: 5%;"></a>
	</div><br>


	
</div>
</div>


<center>
<div class="aboutprojectmobile">
		{% if lang == 'ka' %}
		<span class="aboutprojectmobileheader">{% t 'about_project' %}</span>
		{% else %}
		<span class="aboutprojectmobileheaderen">{% t 'about_project' %}</span>
		{% endif %}
		
		<span class="aboutprojectmobileinfo">{{about_project.project_info}}</span>

		{% if lang == 'ka' %}
		<span class="aboutprojectmobiledonors">{% t 'donors' %}</span>
		{% else %}
		<span class="aboutprojectmobiledonorsen">{% t 'donors' %}</span>
		{% endif %}
		<span class="aboutprojectmobiledonorsinfo">{{about_project.donors_text}}</span>

		<div class="aboutprojectmobiledonorsimg">
		<a href="https://www.usaid.gov/">
			<img src="{% static '/icons/usaid.png' %}" style="display: block; margin-right: 100%; width: 113px; margin-top: 24px;">
		</a>
		<a href="https://zincnetwork.com/">
			<img src="{% static '/icons/zinc.png' %}" style="display: block; margin-right: 100%; width:141px;">
		</a>
		<a href="https://idfi.ge/ge">
			<img src="{% static '/icons/idfi.png' %}" style="display: block; margin-right: 100%; width: 170px;">
		</a>
		</div>

			<br><br><br><br>


</div>
</center>

{% endblock %}