{% extends "base.html" %}
{% load static %}
{% block content %}
{% load transl_extras %}


<div class="post_first_block">

<a class="post_go_back" href="{% url 'architect' lang=lang %}">უკან დაბრუნება</a>
<span class="post_title">{{history}}</span>
<div class="post_social_divs"></div>
<div class="post_social_divs"></div>
<div class="post_social_divs"></div>
<div class="post_line"></div>
<span class="post_text">{{history.post_text}}</span>

	<div class="post_tell_us_more">
		<span class="post_tell_use_more_header">{% t "tell_us_more" %}</span><br><br><br><br>
		<span class="post_tell_us_more_text">თუ თქვენ გაქვთ ინფრომაცია რომელსაც აქვს ისტორიული ღირებულება, გთხოვთ დაგვიკავშირდეთ და მოგვიყვეთ,</span><br>
		<div class="post_tell_us_more_button"><span style="display: inline-block; margin-top:16px">მოგვწერეთ</span></div>
	</div>
</div>
<div class="post_second_block">
	<img src="{% static history.post_img %}" class="post_img">
	<span class="post_author">ავტორი: {{history.post_author}}</span>
</div>
<br><br><br><br><br>
{% endblock %}