{% extends "base.html" %}
{% load static %}
{% block content %}
{% load transl_extras %}

<head>
	<meta property="og:title" content="{{history}}" />
	<meta property="og:type" content="culture.post" />
	<meta property="og:url" content="{{ request.get_full_path }}" />
	<meta property="og:image" content="{% static history.post_img %}" />
	<meta property="og:description" content="{{history.post_text|truncatechars:150}}" />
	<link rel="stylesheet" href="{% static '/css/detail_post.css' %}">
	<link rel="stylesheet" href="{% static '/css/IIblock.css' %}">
</head>


<style>
	.menuitem3{
		text-decoration: underline !important;
		color: #D6CBA4;


	}

</style>
<div class="post_detail_desktop">
<div class="post_first_block">
<a class="post_go_back" href="{% url 'culture' lang=lang %}"><img src="{% static '/icons/Iconleft.svg' %}" style="position: relative; top:4px; margin-right: 11px">{% t 'back' %}</a>
<span class="post_title">{{history}}</span>

<span onclick="navigator.clipboard.writeText(window.location.href);">
<div class="post_social_divs" style="margin-left: 0; cursor: pointer;"><img src="{% static '/icons/Iconlink.svg' %}" style="width: 20px; height: 20px; margin-left: 14px; margin-top: 14px; float: left;"></div>
</span>

<a href="https://www.facebook.com/dialog/share?app_id=87741124305&href={{ request.build_absolute_uri }}
"><div class="post_social_divs"><img src="{% static '/icons/Vectorfb.svg' %}" style="width: 22px; height: 22px; margin-left: 13.5px; margin-top: 13px; float: left;"></div></a>

<div class="post_social_divs"><img src="{% static '/icons/vectortw.svg' %}" style="width: 20px; height: 20px; margin-left: 14px; margin-top: 14px; float: left;"></div>

<span class="sharetext">{% t 'share' %}</span>


<div class="post_line"></div>
<div class="post_second_block">

	{% if history.post_videos is not None %}
	<iframe width="100%" height="495px" src="{{history.post_videos}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	{% else %}
	<img src="{% static history.post_img %}" class="post_img">
	{% endif %}
	<span class="post_author">{% t 'author' %}: {{history.post_author}}</span>
</div>
<span class="post_text">{{history.post_text}}</span>

	<center>
	<div class="post_tell_us_more">
		{% if lang == 'ka' %}
		<span class="post_tell_use_more_header">{% t "tell_us_more" %}</span>
		{% else %}
		<span class="post_tell_use_more_headeren">{% t "tell_us_more" %}</span>
		{% endif %}<br><br><br><br>
		<span class="post_tell_us_more_text">{% t 'contact_us_index' %}</span><br>
		{% if lang == 'ka' %}
		<a href="{% url 'text_us' lang=lang %}">
			<div class="post_tell_us_more_button">
			<span style="display: inline-block; margin-top:16px">{% t 'textus' %}</span>
			</div>
		</a>
		{% else %}		
		<a href="{% url 'text_us' lang=lang %}">
			<div class="post_tell_us_more_buttonen">
			<span style="display: inline-block; margin-top:16px">{% t 'textus' %}</span>
			</div>
		</a>{% endif %}
	</div>
	</center>
</div>

</div>
<center>
<div class="post_detail_mobile">
<div class="post_first_block_mobile">
	<a class="post_go_back_mobile" href="{% url 'history' lang=lang %}"><img src="{% static '/icons/Iconleft.svg' %}" style="position: relative; top:4px; margin-right: 11px">{% t 'back' %}</a>
	<span class="post_title_mobile">{{history}}<br><br>
	<div class="post_social_divs_mobile">
		<img src="{% static '/icons/Iconlink.svg' %}" style="width: 13.86px; height: 13.86px; margin-left: 11.07px; margin-top: 10px;"></div>
	<div class="post_social_divs_mobile" style="margin-left: 20px">
		<img src="{% static '/icons/Vectorfb.svg' %}" style="width: 15px; height: auto; margin-left: 10.5px; margin-top: 10.5px;"></div>
	<div class="post_social_divs_mobile" style="margin-left: 20px">
		<img src="{% static '/icons/vectortw.svg' %}" style="width: 15px; height: auto; margin-left: 10.5px; margin-top: 12.5px;"></div></span>
	</div>
	{% if history.post_videos is not None %}
	<iframe width="100%" height="315" src="{{history.post_videos}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top:30px;"></iframe>

	{% else %}
	<img src="{% static history.post_img %}" class="post_img_mobile">
	{% endif %}
	<div class="post_first_block_mobile">
	<span class="post_text_mobile">{{history.post_text}}</span>
	</div>
	<div class="tellusmoremobile">
		{% if lang == 'ka' %}
		<span class="tellusmoremobiletext">{% t "tell_us_more" %}</span><br><br><br>
		{% else %}
		<span class="tellusmoremobiletexten">{% t "tell_us_more" %}</span><br><br><br>
		{% endif %}
		<span class="tellusmoremobiletextinfo">{% t "contact_us_index" %}</span><br>
		{% if lang == 'ka' %}
		<a href="{% url 'text_us' lang=lang %}" style="text-decoration: none;"><div class="tellusmorebuttonmobile">{% t 'text_us_button' %}</div></a>
		{% else %}
		<a href="{% url 'text_us' lang=lang %}" style="text-decoration: none;"><div class="tellusmorebuttonmobileen">{% t 'text_us_button' %}</div></a>
		{% endif %}
</div>
</center>
<br><br><br><br><br>
{% endblock %}