{% extends "base.html" %}
{% load static %}
{% block content %}
{% load transl_extras %}

<div class="post_detail_desktop">
<div class="post_first_block">

<a class="post_go_back" href="{% url 'culture' lang=lang %}">უკან დაბრუნება</a>
<span class="post_title">{{history}}</span>
<div class="post_social_divs"></div>
<div class="post_social_divs"></div>
<div class="post_social_divs"></div>
<div class="post_line"></div>
<span class="post_text">{{history.post_text}}</span>

	<div class="post_tell_us_more">
		<span class="post_tell_use_more_header">{% t "tell_us_more" %}</span><br><br><br><br>
		<span class="post_tell_us_more_text">თუ თქვენ გაქვთ ინფრომაცია რომელსაც აქვს ისტორიული ღირებულება, გთხოვთ დაგვიკავშირდეთ და მოგვიყვეთ,</span><br>
		<div class="post_tell_us_more_button"><span style="display: inline-block; margin-top:16px">მოგვწერეთ</span></div>
	</div>
</div>
<div class="post_second_block">

	{% if history.post_videos is not None %}
	<iframe width="100%" height="315" src="{{history.post_videos}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	{% else %}
	<img src="{% static history.post_img %}" class="post_img">
	{% endif %}
	<span class="post_author">ავტორი: {{history.post_author}}</span>
</div>
</div>
<center>
<div class="post_detail_mobile">
<div class="post_first_block_mobile">
	<a class="post_go_back_mobile" href="{% url 'culture' lang=lang %}">უკან დაბრუნება</a>
	<span class="post_title_mobile">{{history}}<br><br>
		<img src="{% static '/icons/Iconlink.png' %}" style="width: 13.86px; height: 13.86px; margin-left: 11.07px; margin-top: 10px;"></div>
	<div class="post_social_divs_mobile" style="margin-left: 20px">
		<img src="{% static '/icons/Vectorfb.png' %}" style="width: 15px; height: auto; margin-left: 10.5px; margin-top: 10.5px;"></div>
	<div class="post_social_divs_mobile" style="margin-left: 20px">
		<img src="{% static '/icons/vectortwshare.png' %}" style="width: 15px; height: auto; margin-left: 10.5px; margin-top: 12.5px;"></div></span>
	</div>
	{% if history.post_videos is not None %}
	<iframe width="100%" height="315" src="{{history.post_videos}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top:30px;"></iframe>

	{% else %}
	<img src="{% static history.post_img %}" class="post_img_mobile">
	{% endif %}
	<div class="post_first_block_mobile">
	<span class="post_text_mobile">{{history.post_text}}</span>
	</div>
	<div class="tellusmoremobile">
		{% if lang == 'ka' %}
		<span class="tellusmoremobiletext">{% t "tell_us_more" %}</span><br><br><br>
		{% else %}
		<span class="tellusmoremobiletexten">{% t "tell_us_more" %}</span><br><br><br>
		{% endif %}
		<span class="tellusmoremobiletextinfo">{% t "contact_us_index" %}</span><br>
		{% if lang == 'ka' %}
		<a href="{% url 'text_us' lang=lang %}" style="text-decoration: none;"><div class="tellusmorebuttonmobile">{% t 'text_us_button' %}</div></a>
		{% else %}
		<a href="{% url 'text_us' lang=lang %}" style="text-decoration: none;"><div class="tellusmorebuttonmobileen">{% t 'text_us_button' %}</div></a>
		{% endif %}
</div>
</center>
<br><br><br><br><br>
{% endblock %}