{% extends "base.html" %}
{% load static %}
{% block content %}
{% load transl_extras %}

<style>
	.menuitem2{
		text-decoration: underline !important;
	}

</style>



<div class="historydekstop">
<span class="historypageheader">ისტორია</span>


{% for post in posts %}

<a href="/history/{{pist.id}}/{{lang}}">
<div class="historypostdivs">
	<div class="historyposttextsdiv">
	<span class="historypostheader"> {{post.post_title}}</span>
	<span class="historypostinfo">{{post.post_text|truncatechars:350 }}</span>
	</div>
	<img src="{% static post.post_img %}" class="hitorypostsimgs">
</div>
</a>
{% endfor %}
</div>

<center>

<div class="historymobile">
	<span class="aboutprojectmobileheader" style="margin-right: 250px;">ისტორია</span>
	{% for post in posts %}
	<div class="mobileposts">
		<img src="{% static post.post_img %}" class="historypostsmobile">
		<span class="historymobilepostsheader">{{post.post_title}} </span>
	</div>
	{% endfor %}
</div>


</center>
<br><br><br><br><br><br>
{% endblock %}