{% extends "base.html" %}
{% load static %}
{% block content %}
{% load transl_extras %}


<head>
	<meta property="og:title" content="{% t 'new_identity_of_gori' %} - {{% t 'ppeople' %}" />
	<meta property="og:type" content="humans" />
	<meta property="og:url" content="{{ request.get_full_path }}" />
	<meta property="og:image" content="{% static '/aboutproject/gorimaps.jpeg' %}" />
</head>

<style>
	.menuitem5{
		text-decoration: underline !important;
	}

</style>
<div class="humans_desktop">
{% if lang == 'ka' %}
<span class="humans_header_desktop">{% t 'ppeople' %}</span>
{% else %}
<span class="humans_header_desktopen">{% t 'ppeople' %}</span>
{% endif %}

{% for human in humans %}
<a href="{% url 'humans_detail' lang=lang id=human.id %}">
<div class="humans_post_desktop_div">
	<div class="humans_post_desktop_iblock">
		<span class="humans_post_desktop_header">{{human.post_title}}
		</span>
		<span class="humans_post_desktop_info">{{human.post_text|truncatechars:300}}<i style="text-decoration:underline; color:#3E3A2B;">(სრულად ნახვა)</i></span>
	</div>
	<img src="{% static human.post_img %}" class="humans_post_img_desktop">
</div>
</div>
</a>
{% endfor %}

<center>

<div class="humans_mobile">
	<span class="humans_mobile_header">{% t 'ppeople' %}</span>
	{% for human in humans %}
	<a href="{% url 'humans_detail' lang=lang id=human.id %}">
	<div class="humans_mobile_posts">
		<span class="humans_mobile_post_header">{{human.post_title}}</span>
		<img src="{% static human.post_img %}" class="humans_post_img_mobile">
		<span class="get_more_mobile_post">{% t 'learnmore' %}</span>

	</div>
	</a>
	{% endfor %}
</div>

</center>
<br><br><br><br><br>
{% endblock %}