{% extends "base.html" %}
{% load static %}
{% block content %}
{% load transl_extras %}


<head>
	<meta property="og:title" content="{{human}}" />
	<meta property="og:type" content="humans.post" />
	<meta property="og:url" content="{{ request.get_full_path }}" />
	<meta property="og:image" content="{% static human.post_img %}" />
	<meta property="og:description" content="{{human.post_text|truncatechars:150}}" />
		<link rel="stylesheet" href="{% static '/css/humans.css' %}">
			<link rel="stylesheet" href="{% static '/css/detail_post.css' %}">
			<link rel="stylesheet" href="{% static '/css/IIblock.css' %}">


</head>

<style>
	.menuitem5{
		text-decoration: underline !important;
		color: #D6CBA4;


	}

</style>
<div class="humans_desktop">
<div class="post_first_block">

<a class="post_go_back" href="{% url 'humans' lang=lang %}"><img src="{% static '/icons/Iconleft.svg' %}" style="position: relative; top:4px; margin-right: 11px">{% t 'back' %}</a>

<span class="post_title">{{human}}</span>

<span onclick="navigator.clipboard.writeText(window.location.href);">
<div class="post_social_divs" style="margin-left: 0; cursor: pointer;"><img src="{% static '/icons/Iconlink.svg' %}" style="width: 20px; height: 20px; margin-left: 14px; margin-top: 14px; float: left;"></div>
</span>


<div class="post_social_divs"><img src="{% static '/icons/Vectorfb.svg' %}" style="width: 22px; height: 22px; margin-left: 13.5px; margin-top: 13px; float: left;"></div>
<div class="post_social_divs"><img src="{% static '/icons/vectortw.svg' %}" style="width: 20px; height: 20px; margin-left: 14px; margin-top: 14px; float: left;"></div>

<div class="post_second_block_human" style="margin-bottom: 35px;">
	<img src="{% static human.post_img %}" class="post_img" style="width: 70%; height: auto; margin-left:20%; object-fit: cover;">
	<i style="width:70%; display:block; margin-left:20%; margin-top:10px; line-height: 25px;">

	{% if human.post_image_description is not None %}
	{{human.post_image_description}}
	{% endif %}</i>

</div>	

<div class="post_line"></div>
<span class="post_text_human">{{human.post_text}}</span>

	<center>
	<div class="post_tell_us_more">
		{% if lang == 'ka' %}
		<span class="post_tell_use_more_header">{% t "tell_us_more" %}</span>
		{% else %}
		<span class="post_tell_use_more_headeren">{% t "tell_us_more" %}</span>
		{% endif %}<br><br><br><br>
		<span class="post_tell_us_more_text">{% t 'contact_us_index' %}</span><br>
		{% if lang == 'ka' %}
		<a href="{% url 'text_us' lang=lang %}">
			<div class="post_tell_us_more_button">
			<span style="display: inline-block; margin-top:16px">{% t 'textus' %}</span>
			</div>
		</a>
		{% else %}		
		<a href="{% url 'text_us' lang=lang %}">
			<div class="post_tell_us_more_buttonen">
			<span style="display: inline-block; margin-top:16px">{% t 'textus' %}</span>
			</div>
		</a>{% endif %}
	</div>
	</center>
</div>

</div>
<center>
<div class="post_detail_mobile">
<div class="post_first_block_mobile">
	<a class="post_go_back_mobile" href="{% url 'humans' lang=lang %}"><img src="{% static '/icons/Iconleft.svg' %}" style="position: relative; top:4px; margin-right: 11px">{% t 'back' %}</a>
	<span class="post_title_mobile" style="height: auto; width:60%; float:left; margin-left:10px">{{human}}</span>
	<img src="{% static human.post_img %}" class="post_img_mobile_human" >
	</div><br><br><br><br><br><br>
	<div class="post_first_block_mobile">
	<span class="post_text_mobile" style="margin-top:35px">{{human.post_text}}</span>
	

<div class="post_social_divs" style="margin-top:0; float:left"><img src="{% static '/icons/Iconlink.svg' %}" style="width: 20px; height: 20px; margin-left: 14px; margin-top: 14px; float: left;"></div>
<div class="post_social_divs" style="margin-top:0; float:left"><img src="{% static '/icons/Vectorfb.svg' %}" style="width: 22px; height: 22px; margin-left: 13.5px; margin-top: 13px; float: left;"></div>
<div class="post_social_divs" style="margin-top:0; float:left"><img src="{% static '/icons/vectortw.svg' %}" style="width: 20px; height: 20px; margin-left: 14px; margin-top: 14px; float: left;"></div><br><br>

</div><div class="post_line"></div>
	{% for human in humans %}
	<a href="{% url 'humans_detail' lang=lang id=human.id %}">
	<div class="humans_mobile_posts">
		<span class="humans_mobile_post_header">{{human.post_title}}</span>
		<img src="{% static human.post_img %}" class="humans_post_img_mobile">
		<span class="get_more_mobile_post">{% t 'learnmore' %}</span>

	</div>
	</a>
	{% endfor %}
</center>
<br><br><br><br><br>
{% endblock %}