{% extends "base.html" %}
{% load static %}
{% block content %}
{% load transl_extras %}

<head>
	<meta property="og:title" content="{% t 'new_identity_of_gori' %}" />
	<meta property="og:type" content="index" />
	<meta property="og:url" content="{{ request.get_full_path }}" />
	<meta property="og:image" content="{% static '/aboutproject/gorimaps.jpeg' %}" />
	<meta property="og:description" content="{% t 'identity_map_text' %}" />
        <link rel="stylesheet" href="{% static '/css/Iblock.css' %}">
        <link rel="stylesheet" href="{% static '/css/IIblock.css' %}">
        <link rel="stylesheet" href="{% static '/css/map.css' %}">
        <link rel="stylesheet" href="{% static '/css/detail_post.css' %}">


</head>

<head>
		<link rel="stylesheet" href="{% static '/css/style.css' %}">
		{% if lang == 'ka' %}
		<script src="{% static '/js/map.js' %}"></script>
		{% else %}
        <script src="{% static '/js/mapen.js' %}"></script>
		{% endif %}
        <script>
            let pins = {{ pins|safe }};
        </script>
        <script
    src="https://maps.googleapis.com/maps/api/js?v=3.50&key=AIzaSyBzEIEcLP2abNI7THYoHXPypFoYxkfD2Oo&callback=initMap" defer>
</script>
</head>
<style>.navbar{background-color: #F1F1E6 !important;}

.map{
	background-color: #FEFEF8;
}

#map{
	height: 450px;
	width: 100%;
}
#maps{
	display: block;
	margin-top: 15px;
	height: 450px;
	width: 100%;
}
</style>

<div class="iblockDiv">
	<div class="identmapdiv">
		{% if lang == 'ka' %}
		<span class="indentmaptext">{% t "map_of_identity" %}</span>
		{% else %}
		<span class="indentmaptexten">{% t "map_of_identity" %}</span>
		{% endif %}
		<span class="identmapinfo">{% t "identity_map_text" %}</span>
	</div>

	<div class="tellmorediv">
		{% if lang == 'ka' %}
		<span class="tellmoretext">{% t "tell_us_more" %}</span>
		{% else %}
		<span class="tellmoretexten">{% t "tell_us_more" %}</span>
		{% endif %}
		<span class="tellmoreinfo">{% t "tell_us_more_text" %}</span>
		<br><br>
		<a class="sendusbutton" href="{% url 'text_us' lang=lang %}">
			{% if lang == 'ka' %}
			<span class="sendusbuttontext">{% t "text_us_button" %}</span></a>
			{% else %}
			<span class="sendusbuttontexten">{% t "text_us_button" %}</span></a>
			{% endif %}
	</div>
        <div id="map"></div>
        <div id="post" class="pinpost">

        </div>

<center>	
<span class="under_map_text_first"><img src="{% static '/icons/Icongps.svg' %}" style="display:inline-block; position: absolute;"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{% t 'undermaptextf' %}</span>
<span class="under_map_text_second"><img src="{% static '/icons/Iconundermap.svg' %}" style="display:inline-block; position: absolute;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{% t 'undermaptexts' %}</span>
</center>

</div>
<div class="iblockDivMobile">
	<center>
		<div class="identmapdivmobile">
		{% if lang == 'ka' %}
		<span class="indentmaptextmobile" style="float: left; margin-left: 7%">{% t "map_of_identity" %}</span>
		{% else %}
		<span class="indentmaptextmobileen" style="float: left; margin-left: 6.5%">{% t "map_of_identity" %}</span>
		{% endif %} <br><br><br><br>
		<span class="identmapinfomobile" style="text-align:left">{% t "identity_map_text" %}</span>
	</div></center>


       <div id="maps"></div>
        <div id="postmobile" class="pinpostmobile">

        </div>



<center><br>
<span class="under_map_text_first_mobile"> {% t 'undermaptextf' %}</span><br>
<span class="under_map_text_first_mobile">{% t 'undermaptexts' %}</span>
</center><br><br>
</div>

<div class="iiblockDiv">
	<div class="aboutprojectdiv">
		{% if lang == 'ka' %}
		<span class="aboutprojectheader">{% t "about_project_header_block" %}</span><br>
		{% else %}
		<span class="aboutprojectheaderen">{% t "about_project_header_block" %}</span><br>
		{% endif %}
		<span class="aboutprojecttext">{{about_project.project_info|truncatechars:1000}}


		</span><br>
		<a class="projectinfodetail" href="{% url 'about_project' lang=lang %}">{% t "detail" %} </a>&nbsp
		<img src="{% static '/icons/Iconrightarrow.svg' %}" style="position: absolute; display: inline-block; margin-top: 38.5px;">

	</div>
	<center><div class="line" style="margin-top:10px"></div></center>



	<div class="historydiv" >
		{% if lang == 'ka' %}
		<span class="historyheader">{% t "history_block_header" %}</span>
		{% else %}
		<span class="historyheaderen">{% t "history_block_header" %}</span>
		{% endif %}
		<div class="allstaticmobile" style="display: none;">
		{% if lang == 'ka' %}
			<a class="allstaticmobiletext" href="{% url 'history' lang=lang %}">{% t "all_static" %}</a>
		{% else %}
			<a class="allstaticmobiletexten" href="{% url 'history' lang=lang %}">{% t "all_static" %}</a>
		{% endif %}
		</div><br>
		<a href="{% url 'history-detail' lang=lang id=last_post_history.id %}"><div class="historychild">
			<img class="historyimg" src="{% static last_post_history.post_img %}">
			<span class="historychildtext" style="text-align: left;">{{last_post_history.post_title|truncatechars:70}}
			<br>
			<span class="historychildtextinfo">{{last_post_history.post_text|truncatechars:60 }}<br>
					<span style="color:#3E3A2B; margin-top: 20px; display: block">{% t "see_all" %}
		<img src="{% static '/icons/Iconrightarrow.svg' %}" style="margin-left: 10px; margin-top: 8px; position: absolute;"></span>

			</span></span>
		</div></a>

		<a href="{% url 'history-detail' lang=lang id=lastsec_post_history.id %}"><div class="historychild">
			<img class="historyimg" src="{% static lastsec_post_history.post_img %}">
			<span class="historychildtext" style="text-align: left;">
				{{lastsec_post_history.post_title|truncatechars:70}}
				<br>
				<span class="historychildtextinfo">{{lastsec_post_history.post_text|truncatechars:60}}<br>
		<span style="color:#3E3A2B; margin-top: 20px; display: block">{% t "see_all" %}
		<img src="{% static '/icons/Iconrightarrow.svg' %}" style="margin-left: 10px; margin-top: 8px; position: absolute;"></span>
				</span>
				<a class="allstatic" href="{% url 'history' lang=lang %}">
					<div class="allstaticdesktopdiv">
						{% if lang == 'ka' %}
						<center><span class="allvideo">{% t "all_static" %}</span></center>
						{% else %}
						<center><span class="allvideoen">{% t "all_static" %}</span></center>
						{% endif %}
					</div>
				</a>
			</span>
		</div></a>
	</div>
	<div class="culturediv">
		{% if lang == 'ka' %}
		<span class="cultureheader">{% t "culture_block_header" %}</span>
		{% else %}
		<span class="cultureheaderen">{% t "culture_block_header" %}</span>
		{% endif %}
		<div class="allstaticmobile" style="display: none;">
		{% if lang == 'ka' %}
			<a class="allstaticmobiletext" href="{% url 'history' lang=lang %}">{% t "all_static" %}</a>
		{% else %}
			<a class="allstaticmobiletexten" href="{% url 'history' lang=lang %}">{% t "all_static" %}</a>
		{% endif %}
		</div><br>
		<a href="{% url 'culture-detail' lang=lang id=last_post_culture.id %}"><div class="historychild">
			<img class="cultureimg" src="{% static last_post_culture.post_img %}">
			<span class="culutrechildtext" style="text-align: left;">{{last_post_culture.post_title|truncatechars:70}}
			<br>
			<span class="historychildtextinfo">{{last_post_culture.post_text|truncatechars:60}}<br>
		<span style="color:#3E3A2B; margin-top: 20px; display: block">{% t "see_all" %}
		<img src="{% static '/icons/Iconrightarrow.svg' %}" style="margin-left: 10px; margin-top: 8px; position: absolute;"></span>
			</span></span>
		</div>
		<a href="{% url 'culture-detail' lang=lang id=lastsec_post_culture.id %}"><div class="historychild">
			<img class="cultureimg" src="{% static lastsec_post_culture.post_img %}">
			<span class="culutrechildtext" style="text-align: left;">
				{{lastsec_post_culture.post_title|truncatechars:70}}
			<br>
			<span class="historychildtextinfo">
				{{lastsec_post_culture.post_text|truncatechars:60}}<br>
						<span style="color:#3E3A2B; margin-top: 20px; display: block">{% t "see_all" %}
		<img src="{% static '/icons/Iconrightarrow.svg' %}" style="margin-left: 10px; margin-top: 8px; position: absolute;"></span><br>
				<a class="allstatic" href="{% url 'culture' lang=lang %}" style="margin-top:50px !important">
					<div class="allstaticdesktopdiv">
						{% if lang == 'ka' %}
						<center><span class="allvideo">{% t "all_static" %}</span></center>
						{% else %}
						<center><span class="allvideoen">{% t "all_static" %}</span></center>
						{% endif %}
					</div>
				</a></span></span>
		</div></a>

	</div> <br>
<br>
<center><div class="line3"></div></center>
<div class="fullsizedivvideos">
	<div class="videosdiv">

		{% if lang == 'ka' %}
			<span class="videosheader">{% t "videos_block_header" %}</span>
		{% else %}
			<span class="videosheaderen">{% t "videos_block_header" %}</span>
		{% endif %}
		

		<a class="allvideosbutton" href="{% url 'videos' lang=lang %}">
			{% if lang == 'ka' %}
			<center><span class="allvideo">{% t "all_video_button" %}</span></center></a>
			{% else %}
			<center><span class="allvideoen">{% t "all_video_button" %}</span></center></a>
			{% endif %}
			<br>

		<center><br>

		<div class="videodiv1" style="float: left;">
				<iframe width="100%" height="264px" src="{{firstvideo.video_src}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
				<span class="videotimecounter">
					<img src="{% static '/icons/Icontime.svg' %}" class="undervideotime">{{firstvideo.minutes}}:{{firstvideo.seconds}}</span>
				<span class="undervideotext">{{firstvideo.video_title}}</span>
		</div> 





				<div class="videomobileslideshow">



				<div class="mySlides fade">
				<div class="videodivmobile" style="float: left;">
				<iframe width="100%" height="264px" src="{{firstvideo.video_src}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
				<span class="videotimecounter">
					<img src="{% static '/icons/Icontime.svg' %}" class="undervideotime">{{firstvideo.minutes}}:{{firstvideo.seconds}}</span>
				<span class="undervideotext">{{firstvideo.video_title}}</span>
				</div> 
				</div>

				<div class="mySlides fade">
				<div class="videodivmobile" style="float: left;">
				<iframe width="100%" height="264px" src="{{secondvideo.video_src}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
				<span class="videotimecounter">
					<img src="{% static '/icons/Icontime.svg' %}" class="undervideotime">{{secondvideo.minutes}}:{{secondvideo.seconds}}</span>
				<span class="undervideotext">{{secondvideo.video_title}}</span>
				</div> 
				</div>

				<div class="mySlides fade">
				<div class="videodivmobile" style="float: left;">
				<iframe width="100%" height="264px" src="{{thirdsvideo.video_src}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
				<span class="videotimecounter">
					<img src="{% static '/icons/Icontime.svg' %}" class="undervideotime">{{thirdsvideo.minutes}}:{{thirdsvideo.seconds}}</span>
				<span class="undervideotext">{{thirdsvideo.video_title}}</span>
				</div> 
				</div>


				</div>


				<div class="loadvideodot1" id="dot1" onclick="currentSlide(1)"></div>
				<div class="loadvideodot2" id="dot2" onclick="currentSlide(2)"></div>
				<div class="loadvideodot3" id="dot3" onclick="currentSlide(3)"></div>


		<div class="videodiv2">
				<iframe width="100%" height="264px" src="{{secondvideo.video_src}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
				<span class="videotimecounter">
					<img src="{% static '/icons/Icontime.svg' %}" class="undervideotime">{{secondvideo.minutes}}:{{secondvideo.seconds}}</span>
				<span class="undervideotext">{{secondvideo.video_title}}</span>
		</div>

		<div class="videodiv3" style="float: right;">
				<iframe width="100%" height="264px" src="{{thirdsvideo.video_src}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
				<span class="videotimecounter">
					<img src="{% static '/icons/Icontime.svg' %}" class="undervideotime">{{thirdsvideo.minutes}}:{{thirdsvideo.seconds}}</span>
				<span class="undervideotext">{{thirdsvideo.video_title}}</span>
		</div>

		</center>
	</div>

	<center>
	<div class="tellusmoremobile">
		{% if lang == 'ka' %}
		<span class="tellusmoremobiletext">{% t "tell_us_more" %}</span><br><br><br>
		{% else %}
		<span class="tellusmoremobiletexten">{% t "tell_us_more" %}</span><br><br><br>
		{% endif %}
		<span class="tellusmoremobiletextinfo">{% t "contact_us_index" %}</span><br>
		{% if lang == 'ka' %}
		<a href="{% url 'text_us' lang=lang %}" style="text-decoration: none;"><div class="tellusmorebuttonmobile">{% t 'text_us_button' %}</div></a>
		{% else %}
		<a href="{% url 'text_us' lang=lang %}" style="text-decoration: none;"><div class="tellusmorebuttonmobileen">{% t 'text_us_button' %}</div></a>
		{% endif %}
	</div></center><br><br>
</div>


</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {   
  showSlides(slideIndex += n);

}

function currentSlide(n) {
  if (n == 1) {
  document.getElementById("dot2").style.backgroundColor = "rgb(214,203,164)";
  document.getElementById("dot1").style.backgroundColor = "rgb(246,192,66)";
  document.getElementById("dot3").style.backgroundColor = "rgb(214,203,164)";
  }  
  if (n == 2) {
  document.getElementById("dot3").style.backgroundColor = "rgb(214,203,164)";
  document.getElementById("dot2").style.backgroundColor = "rgb(246,192,66)";
  document.getElementById("dot1").style.backgroundColor = "rgb(214,203,164)";
  }
  if (n == 3) {
  document.getElementById("dot1").style.backgroundColor = "rgb(214,203,164)";
  document.getElementById("dot3").style.backgroundColor = "rgb(246,192,66)";
  document.getElementById("dot2").style.backgroundColor = "rgb(214,203,164)";
  } 
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

{% endblock %}