{% extends "base.html" %}
{% load static %}
{% block content %}
{% load transl_extras %}

<head>
	<meta property="og:title" content="{% t 'textus' %}" />
	<meta property="og:type" content="textus" />
	<meta property="og:url" content="{{ request.get_full_path }}" />
	<meta property="og:image" content="{% static '/aboutproject/gorimaps.jpeg' %}" />
</head>

<style>
	.menuitem6{
		text-decoration: underline !important;
	}

</style>
<div class="text_us_desktop">
	{% if lang == 'ka' %}
	<span class="contact_us_header_desktop">{% t 'textus' %}</span>
	{% else %}
	<span class="contact_us_header_desktop_en">{% t 'textus' %}</span>
	{% endif %}

<span class="contact_us_text_desktop">{% t 'contact_us_index' %}</span>

<form method="POST" style="margin-top:80px">{% csrf_token %}
	<input id="your_name" type="" name="your_name" class="contact_input" placeholder="{% t 'your_name' %}">
	<input id="your_phone" type="" name="your_phone" class="contact_input" placeholder="{% t 'telephone' %}">
	<input id="your_theme" type="" name="your_theme" class="contact_input" placeholder="{% t 'theme' %}">
	<textarea id="your_message" type="" name="your_message" class="contact_input_big" placeholder="{% t 'message' %}"></textarea>

	{% if lang == 'ka' %}
	<button class="contact_send_button" type="submit">{% t 'send' %}</button>
	{% else %}
	<button class="contact_send_buttonen" type="submit">{% t 'send' %}</button>
	{% endif %}
</form>
{% if lang == 'ka' %}
<button class="contact_remove_button">{% t 'delete' %}</button>
{% else %}
<button class="contact_remove_buttonen">{% t 'delete' %}</button>
{% endif %}
<br><br><br><br><br><br><br><br>
<div class="contact_line_desktop"></div>

<div class="contact_us_contact_i_div">
	{% if lang == 'ka' %}
	<span class="contact_us_contact_us">{% t 'contact_us' %}</span>
	{% else %}
	<span class="contact_us_contact_usen">{% t 'contact_us' %}</span>
	{% endif %}<br><br>
	<div class="contact_us_contact_child_div">
		<div class="contact_us_contact_child_icon_div"><img style="margin-top: 13px; margin-left: 14px" src="{% static '/icons/Iconphone.svg' %}"></div>
		<span class="contact_us_contact_name">{% t 'telephone' %}</span><br>
		<a href="tel:+995-322-2-92-15-14"><span class="contact_us_contact_info">+995 322 2 92 15 14</span></a>
	</div>
	<div class="contact_us_contact_child_div">
		<div class="contact_us_contact_child_icon_div"><img src="{% static '/icons/Iconemail.svg' %}" style="margin-top: 15px; margin-left: 14px"></div>
		<span class="contact_us_contact_name">{% t 'email' %}</span><br>
		<a href = "mailto:gorimaps@idfi.ge"><span class="contact_us_contact_info">info@idfi.ge</span></a>
	</div>
</div>
<div class="contact_us_contact_ii_div">
	{% if lang == 'ka' %}
	<span class="contact_us_contact_us">{% t 'find_us' %}</span><br><br>
	{% else %}
	<span class="contact_us_contact_usen">{% t 'find_us' %}</span><br><br>
	{% endif %}
		<a href="https://www.facebook.com/IDFI.official">
		<img class="socialicons" src="{% static '/icons/fb.png' %}"></a>
		
		<a href="https://twitter.com/IDFIGeorgia" style="margin-left:16px">
		<img class="socialicons" src="{% static '/icons/tw.png' %}"></a>

		<a style="margin-left:16px" href="https://www.youtube.com/user/IDFIGeorgia">
		<img class="socialicons" src="{% static '/icons/yt.png' %}"></a>

		<a style="margin-left:16px" href="https://www.instagram.com/idfi.ge/">
		<img class="socialicons" src="{% static '/icons/ig.png' %}"></a>
</div>
</div>

<div class="text_us_mobile">
<center>
{% if lang == 'ka' %}
<span class="contact_us_header_mobile">{% t 'textus' %}</span>
{% else %}
<span class="contact_us_header_mobileen">{% t 'textus' %}</span>
{% endif %}
<span class="contact_us_text_mobile">{% t 'contact_us_index' %}</span>
<form style="margin-top:26px" method="POST">{% csrf_token %}
	<input type="" name="your_name" class="contact_input_mobile" placeholder="{% t 'your_name' %}">
	<input type="" name="your_phone" class="contact_input_mobile" placeholder="{% t 'telephone' %}">
	<input type="" name="your_theme" class="contact_input_mobile" placeholder="{% t 'theme' %}">
	<textarea type="" name="your_message" class="contact_input_big_mobile" placeholder="{% t 'message' %}"></textarea>

	
{% if lang == 'ka' %}
<button class="contact_remove_button_mobile">{% t 'delete' %}</button>
<button class="contact_send_button_mobile">{% t 'send' %}</button>
{% else %}
<button class="contact_remove_button_mobileen">{% t 'delete' %}</button>
<button class="contact_send_button_mobileen">{% t 'send' %}</button>
{% endif %}
</form>
	{% if lang == 'ka' %}
	<span class="contact_contactus_mobile">{% t 'contact_us' %}</span>
	{% else %}
	<span class="contact_contactus_mobileen">{% t 'contact_us' %}</span>
	{% endif %}
<div class="mobilecontactusline"></div>
<div style="width:300px">
	<div class="contact_us_contact_child_div" style="width:200px !important; float: left;">
		<div class="contact_us_contact_child_icon_div"><img style="margin-top: 12px; margin-left: 1px" src="{% static '/icons/Iconphone.svg' %}"></div>
		<span class="contact_us_contact_name">{% t 'telephone' %}</span><br>
		<a href="tel:+995-322-2-92-15-14"><span class="contact_us_contact_info">+995 322 2 92 15 14</span></a>
	</div><br><br><br><br><br>
		<div class="contact_us_contact_child_div" style="width:160px !important; float: left;">
		<div class="contact_us_contact_child_icon_div"><img style="margin-top: 14px; margin-left: 2px" src="{% static '/icons/Iconemail.svg' %}"></div>
		<span class="contact_us_contact_name"> &nbsp{% t 'email' %}</span><br>
		<a href = "mailto:gorimaps@idfi.ge"><span class="contact_us_contact_info">info@idfi.ge</span></a>
	</div>
	</div><br><br><br><br>
	{% if lang == 'ka' %}
	<span class="contact_contactus_mobile">{% t 'contact_us' %}</span>
	{% else %}
	<span class="contact_contactus_mobileen">{% t 'contact_us' %}</span>
	{% endif %}
<div class="mobilecontactusline"></div><br>
<div style="width:300px">
	<a href="https://www.facebook.com/IDFI.official" style="float: left;">
			<img class="" src="{% static '/icons/fb.png' %}"></a>
		
		<a href="https://twitter.com/IDFIGeorgia" style="float: left; margin-left: 16px;">
			<img class="" src="{% static '/icons/tw.png' %}"></a>
		<a style="float: left;margin-left: 16px;" href="https://www.youtube.com/user/IDFIGeorgia">
		<img class="" src="{% static '/icons/yt.png' %}"></a>

		<a style="float: left;margin-left: 16px;" href="https://www.instagram.com/idfi.ge/">
		<img class="" src="{% static '/icons/ig.png' %}"></a>

</div>
</div>
</center>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}