.post_detail_desktop{
	display: none;
}
.post_detail_mobile{
	display: none;
}
@media only screen and (min-width: 1297px){
.post_detail_desktop{
	display: block !important;
}}
@media only screen and (max-width: 1296px){
.post_detail_mobile{
	display: block !important;
}}

.post_go_back_mobile{
	width: 132px;
	height: 24px;
	display: block;
	margin-top: 36px;
	margin-right: 150px;

	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;

	/* or 131% */

	color: #848177;
}

.post_first_block_mobile{
	width: 350px;
}

.post_text_mobile{
	width: 325px;
display: block;
margin-top: 24px;
margin-bottom: 36px;
font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-align: justify;
line-height: 24px;

/* or 150% */

color: #3E3A2B;


}

.post_img_mobile{
	width: 100%;
	height: 274px;
	object-fit: contain;
	margin-top: 36px;
}
.post_img_mobile_human{
	float: right;
	width: 80px;
	height: 80px;
	margin-right: 8%;
	display: inline-block;
	object-fit: contain;
	margin-top: 36px;
}
.post_social_divs_mobile{
	width: 36px;
height: 36px;
display: inline-block;
border-radius: 50%;
float: left;

background: #FEFEF8;
}
.post_title_mobile{
	width: 300px;
	height: 84px;
	display: block;
	margin-top: 31px;
	text-align: left;

	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;

	/* or 140% */

	color: #3E3A2B;
}

.sharetext{
position: absolute;
margin-top: 47px;
margin-left: 30px;

font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #848177;



display: inline-block;
}

.post_title{
	color: black;
	width: 100%;
	margin-top: 38px;
	display: block;

	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 40px;
}
.post_text{
	display: block;
	width: 100%;
	text-align: justify;
	font-weight: 400;
	font-style: normal;
	line-height: 26px;
	margin-top: 32px;
	font-family: 'FiraGO';
	font-size:  16px;
}
.post_text_human{
	display: block;
	width: 42%;
	text-align: justify;
	font-weight: 400;
	font-style: normal;
	line-height: 26px;
	margin-top: 32px;
	font-family: 'FiraGO';
	font-size:  16px;
}
.post_line{
	width: 100%;
	height: 0px;
	display: block;
	margin-top: 36px;
	border: 1px solid #D9D9BB;
}

.post_social_divs{
	margin-top: 32px;
	margin-left: 16px;
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #FEFEF8;
}

.post_tell_us_more{
	display: block;
	width: 686px;
	margin-top: 64px;
	height: 300px;

	background-color: #FEFEF8;
}

.post_tell_use_more_header{
 		/* მოგვიყევით მეტი */
	width: auto;
	height: 32px;
	float: left;
	display: block;
	margin-top: 25px;
	margin-left: 207px;

	font-family: 'LGVAnastasia';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 41px;

	/* or 74% */

	color: #D6CBA4;
}
.post_tell_use_more_headeren{
 		/* მოგვიყევით მეტი */
	width: auto;
	height: 32px;
	float: left;
	display: block;
	margin-top: 25px;
	margin-left: 225px;

	font-family: 'BarlowCondensedBold';
	font-style: normal;
	font-size: 55px;
	line-height: 41px;

	/* or 74% */

	color: #D6CBA4;
}
.post_tell_us_more_button{
align-items: center;
display: block;
margin-top: 0px;
width: 154px;
height: 56px;

font-family: 'LGVAnastasia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 20px;

/* or 62% */
text-align: center;

color: #3E3A2B;

background: #F6C042;
border-radius: 10px;
}
.post_tell_us_more_buttonen{
align-items: center;
display: block;
margin-top: 10px;
width: 154px;
height: 56px;

font-family: 'BarlowCondensedBold';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 20px;

/* or 62% */
text-align: center;

color: #3E3A2B;

background: #F6C042;
border-radius: 10px;
}
.post_tell_us_more_text{
	width: 520px;
	height: auto;
	display: block;
	margin-top: 15px;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #848177;
}

.post_go_back{
	display: block;
	margin-top: 64px;
	color: #848177;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}

.post_first_block{
	width: 65%;
	display: inline-block;
	margin-left: 17%;
}

.post_second_block{
	display: block;
	float: left;
	width: 100%;
	margin-right: 8%;
	margin-top: 36px;
}

.post_second_block_human{
	display: inline-block;
	float: right;
	width: 50%;
	margin-right: 8%;
	margin-top: 160px;
}

.post_img{
	display: block;
	width: 100%;
}

.post_author{
	margin-top: 15px;
	display: block;
	font-style: normal;
	font-family: 'FiraGO';
	margin-bottom: 40px;
	line-height: 19px;
	font-weight: 400;
	color: #96967C;
}