.closesearchDesktop{
position: absolute;
right: ;
width: 48px;
height: 48px;
top: 150px;
left: 48.5%;

background: #F6C042;
border-radius: 10px;
}

.closesearchX{
  margin-left: 16px;
  margin-top: 13px;
  position: absolute;
  color: black;
  padding-top: 3px;
  padding-left: 1px;
  width: 15px;
}

.navbar{
position: block;
width: 100%;
height: 140px;
border: red;
background: white;
}

.navheader{
/* გორის ახალი იდენტობა */

position: block !important;
display: inline-block;
width: 247px;
height: 28px;
margin-top: 56px;

font-family: 'LGVAnastasia';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 28px;
text-decoration: none;

color: #3E3A2B;
}
.navheaderen{
/* გორის ახალი იდენტობა */

position: block !important;
display: inline-block;
width: auto;

height: 28px;
margin-top: 50px;

font-family: 'BarlowCondensed';
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 41px;
text-decoration: none;

/* identical to box height */
text-transform: uppercase;

color: #3E3A2B;
}

.menuitem1{
/* პროექტის შესახებ */

position: absolute;
width: 147px;
height: 21px;
top: 61px;

font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-decoration: none;

/* identical to box height, or 131% */

color: #3E3A2B;
}

.menuitem2{
/* ისტორია */

position: absolute;
width: 72px;
height: 21px;
top: 61px;

font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-decoration: none;

/* identical to box height, or 131% */

color: #3E3A2B;
}

.menuitem3{
/* კულტურა */

position: absolute;
width: 75px;
height: 21px;
top: 61px;

font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-decoration: none;

/* identical to box height, or 131% */

color: #3E3A2B;


}

.menuitem4{
/* არქტექტურა */

position: absolute;
width: 100px;
height: 21px;
top: 61px;

font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-decoration: none;

/* identical to box height, or 131% */

color: #3E3A2B;


}

.menuitem5{
/* ადამიანები */

position: absolute;
width: 93px;
height: 21px;
top: 61px;

font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-decoration: none;

/* identical to box height, or 131% */

color: #3E3A2B;
}

.menuitem6{
/* მოგვწერეთ */

position: absolute;
width: 92px;
height: 21px;
top: 61px;

font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-decoration: none;

/* identical to box height, or 131% */

color: #3E3A2B;
}

.search{

/* Rectangle 13 */

position: absolute;
width: 48px;
height: 48px;
top: 46px;

background: #F6C042;
border-radius: 10px;
}

.searchIcon{
  /* Icon */

position: absolute;
left: 30%;
right: 12.5%;
top: 30%;
bottom: 12.5%;

}

.langBar{
  width: 58px;
height: 20px;
color: #848177;

display: inline-block;
margin-right: 15px;
/* Hint / 200 Regular */
font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
  /* Language */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
z-index: 3;
position:relative;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 116px;
height: 48px;
top: 46px;

background: #FEFEF8;
border: 1px solid #EDE7D6;
border-radius: 10px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.secondlanguage{
    color: #848177;
}
.dropdown-content {
  border: 1px solid #EDE7D6;
  border-top: none;
  display: none;
  margin-top: 68px;
  color: #848177;

  position: absolute;
  background-color: #FEFEF8;
  border-radius: 10px;
  min-width: 115px;
  overflow: auto;
  z-index: 1;
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.textSpanForLang{
  /* ქართული */
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;   
width: 58px;
height: 20px;
display: inline-block;
margin-right: 15px;
/* Hint / 200 Regular */
font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;

/* or 150% */

color: #848177;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.angle{
  
position: absolute;
left: 72%;
right: -25%;
top: 31%;
bottom: 37.5%;

transform: matrix(-1, 0, 0, 1, 0, 0);
}

.map{
  display: none;
}
.iconmap{

width: 32px;
position: block;
display: block;
margin-left: 18.5%;
margin-top: 19%;
}

.menu{
  display: none;
}

.iconmenu{
  /* Icon */

  position: block;
  display: inline-block;
  margin-top: 17px;
  margin-left: 15px;
}
@media only screen and (min-width: 1700px) {
  .linenavbar{
  width: 620px;
height: 0px;

border: 1px solid #D6CBA4;
}

   ::placeholder {
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;
}

::-ms-input-placeholder {
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;
}
input[type=text], select {
  width: 550px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
background: none !important;
  border-radius: 4px;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;

}
  .navheader{
  /* გორის ახალი იდენტობა */
  display: inline-block;
  margin-left: 13% !important;
  }
  .navheaderen{
  /* გორის ახალი იდენტობა */
  display: inline-block;
  margin-left: 13% !important;
  }
  .menuitem1{
  /* პროექტის შესახებ */
  left: 628px;
  }

  .menuitem2{
  /* ისტორია */
  left: 815px;
  }

  .menuitem3{
  /* კულტურა */
  left: 927px;
  }

  .menuitem4{
  /* არქტექტურა */
  left: 1042px;
  }

  .menuitem5{
  /* ადამიანები */
  left: 1182px;
  }

  .menuitem6{
  /* მოგვწერეთ */
  left: 1315px;
  }
  .search{
  /* Rectangle 13 */
  left: 1470px;
  }
  .langBar{
  /* Language */
  left: 1542px;
  }
}

@media only screen and (max-width: 1699px) and (min-width: 1451px) {
    .linenavbar{
  width: 620px;
height: 0px;

border: 1px solid #D6CBA4;
}

   ::placeholder {
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;
}

::-ms-input-placeholder {
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;
}
input[type=text], select {
  width: 550px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
background: none !important;
  border-radius: 4px;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;

}
  .navheader{
  /* გორის ახალი იდენტობა */
  margin-left: 8% !important;
  }
  .navheaderen{
  /* გორის ახალი იდენტობა */
  margin-left: 8% !important;
  }
  .menuitem1{
  /* პროექტის შესახებ */
  left: 505px;
  }

  .menuitem2{
  /* ისტორია */
  left: 670px;
  }

  .menuitem3{
  /* კულტურა */
  left: 765px;
  }

  .menuitem4{
  /* არქტექტურა */
  left: 860px;
  }

  .menuitem5{
  /* ადამიანები */
  left: 985px;
  }

  .menuitem6{
  /* მოგვწერეთ */
  left: 1100px;
  }
  .search{
  /* Rectangle 13 */
  left: 1225px;
  }
  .langBar{
  /* Language */
  left: 1300px;
  }
}

@media only screen and (max-width: 1450px) and (min-width: 1296px) {
  .linenavbar{
  width: 620px;
height: 0px;

border: 1px solid #D6CBA4;
}

   ::placeholder {
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;
}

::-ms-input-placeholder {
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;
}
input[type=text], select {
  width: 550px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
background: none !important;
  border-radius: 4px;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;

/* identical to box height, or 170% */

color: #D6CBA4;

}
  .navheader{
  /* გორის ახალი იდენტობა */
  margin-left: 5%;
  }
  .navheaderen{
  /* გორის ახალი იდენტობა */
  margin-left: 5%;
  }
  .menuitem1{
  /* პროექტის შესახებ */
  left: 370px;
  }

  .menuitem2{
  /* ისტორია */
  left: 530px;
  }

  .menuitem3{
  /* კულტურა */
  left: 625px;
  }

  .menuitem4{
  /* არქტექტურა */
  left: 725px;
  }

  .menuitem5{
  /* ადამიანები */
  left: 855px;
  }

  .menuitem6{
  /* მოგვწერეთ */
  left: 970px;
  }
  .search{
  /* Rectangle 13 */
  left: 1080px;
  }
  .langBar{
  /* Language */
  left: 1150px;
  }
}

@media only screen and (max-width: 1295px) {
   ::placeholder {
font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* identical to box height, or 171% */

color: #FEFEF8;
}

:-ms-input-placeholder {
  font-family: 'FiraGO';
font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* identical to box height, or 171% */

color: #FEFEF8;
}

::-ms-input-placeholder {
font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* identical to box height, or 171% */

color: #FEFEF8;
}
input[type=text], select {
  width: 80%;
 margin-top: 0px;
  display: inline-block;
background: none !important;
  border-radius: 4px;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-family: 'FiraGO';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 34px;

/* identical to box height, or 170% */

color: white;

}
  .navbar{
position: block;
width: 100%;
height: 126px;

}
  .navheader{
  /* გორის ახალი იდენტობა */

  position: block;
  width: 116px;
  display: inline-block;
  height: 56px;
  left: 0;
  right: 0; 
  margin-top: 36px;
  margin-left: 20px;
  margin-right: auto; 
  top: 20px;

  font-family: 'LGVAnastasia';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 28px;

  /* or 74% */

  color: #3E3A2B;
  }
  .navheaderen{
  /* გორის ახალი იდენტობა */

  position: block !important;
  display: inline-block;
  width: 160px;

  height: 28px;
  margin-top: 28px;
  margin-left: 20px;

  font-family: 'BarlowCondensed';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 35px;
  text-decoration: none;

  /* identical to box height */
  text-transform: uppercase;

  color: #3E3A2B;
  }
    .menuitem1{
  /* პროექტის შესახებ */
  left: 370px;
  display: none;
  }

  .menuitem2{
  /* ისტორია */
  left: 530px;
  display: none;
  }

  .menuitem3{
  /* კულტურა */
  left: 625px;
  display: none;
  }

  .menuitem4{
  /* არქტექტურა */
  left: 725px;
  display: none;
  }

  .menuitem5{
  /* ადამიანები */
  left: 855px;
  display: none;
  }

  .menuitem6{
  /* მოგვწერეთ */
  left: 970px;
  display: none;
  }
  .search{
  /* Rectangle 13 */
  left: 1080px;
  display: none;
  }
  .langBar{
  /* Language */
  left: 1150px;
  display: none;
  }
  .map{
  /* Rectangle 13 */

  display: inline-block;

  position: block;
  width: 48px;
  height: 48px;
 

  float: right;
  margin-top: 46px;
  margin-right: 20px;
  background: #FEFEF8;
  border-radius: 10px;
  }

  .menu{
  display: inline-block;

margin-right: 20px;
  position: block;
  width: 48px;
  height: 48px;
  margin-top: 46px;

  float: right;

  background: #F6C042;
  border-radius: 10px;
  }

}


.searchheaderdesktop{
  font-family: 'LGVAnastasia';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 41px;
  text-align: center;

  color: #F1F1E6;
}


.overlaysearch {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background: rgba(40, 40, 38, 0.9);
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  transition: 0s;
}

.overlaysearch-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlaysearch a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlaysearch a:hover, .overlaysearch a:focus {
  color: #f1f1f1;
}

.overlaysearch .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
