@font-face{
  src: url(../fonts/FiraGO-Regular.ttf);
  font-family: FiraGO;
}
@font-face{
  src: url(../fonts/FiraGO-SemiBold.ttf);
  font-family: firagosemibold;
}
@font-face{
  src: url(../fonts/LGVAnastasia-Regular.ttf);
  font-family: LGVAnastasia;
}
@font-face{
  src: url(../fonts/BarlowCondensed-Medium.ttf);
  font-family: BarlowCondensed;
}
@font-face{
  src: url(../fonts/BarlowCondensed-Bold.ttf);
  font-family: BarlowCondensedBold;
}

body {
  background: #F1F1E6;
   overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


