{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Gorimaps</title>
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <link rel="stylesheet" href="{% static '/css/Iblock.css' %}">
        <link rel="stylesheet" href="{% static '/css/IIblock.css' %}">
        <link rel="stylesheet" href="{% static '/css/footer.css' %}">
        <link rel="stylesheet" href="{% static '/css/aboutproject.css' %}">
        <link rel="stylesheet" href="{% static '/css/history.css' %}">
    </head>

    <body>
    {% include "parts/navbar.html" %}
    
    {% block content %}    

    {% endblock %}

    {% include "parts/footer.html" %}
    </body>
</html>
