{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Gorimaps</title>
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <link rel="stylesheet" href="{% static '/css/Iblock.css' %}">
        <link rel="stylesheet" href="{% static '/css/IIblock.css' %}">
        <link rel="stylesheet" href="{% static '/css/footer.css' %}">
        <link rel="stylesheet" href="{% static '/css/aboutproject.css' %}">
        <link rel="stylesheet" href="{% static '/css/history.css' %}">
        <link rel="stylesheet" href="{% static '/css/mobilemenu.css' %}">
        <link rel="stylesheet" href="{% static '/css/detail_post.css' %}">
        <link rel="stylesheet" href="{% static '/css/search.css' %}">
        <link rel="stylesheet" href="{% static '/css/textus.css' %}">
        <link rel="stylesheet" href="{% static '/css/humans.css' %}">
        <link rel="stylesheet" href="{% static '/css/videos.css' %}">
        <link rel="stylesheet" href="{% static '/css/map.css' %}">
        <script src="{% static '/js/map.js' %}" async></script>
    </head>

    <body>
    {% include "parts/navbar.html" %}
    
    {% block content %}    

    {% endblock %}

    {% include "parts/footer.html" %}
    </body>
</html>
