{% load static %}
{% load i18n %}
{% load transl_extras %}

<div class="footerDiv">
	<div class="firstblockfooter">
		{% if lang == 'ka' %}
		<span class="footerheader">{% t "new_identity_of_gori" %}</span>
		{% else %}
		<span class="footerheaderen">{% t "new_identity_of_gori" %}</span>
		{% endif %}
		<span class="allright">{% t 'allrightreserved' %}</span>
		{% autoescape off %}
		<span class="supporttext">{% t 'financialsupportertext' %}</span>
		{% endautoescape %}
	<div class="supportsinproject" style="margin-top: 35px;">
		<a href="https://www.usaid.gov/"><img src="{% static '/icons/usaid.png' %}" style="width: 22%; float: left;"></a>
		<a href="https://zincnetwork.com/"><img src="{% static '/icons/zinc.png' %}" style="width: 27%; float: left; margin-left: 5%;"></a>
		<a href="https://idfi.ge/ge"><img src="{% static '/icons/idfi.png' %}" style="width: 32.5%; float: left; margin-left: 5%;"></a>
	</div>
	</div>
	<div class="secondblockfooter">
		{% if lang == 'ka' %}
		<span class="findusfooter">{% t 'find_us' %}</span>
		{% else %}
		<span class="findusfooteren">{% t 'find_us' %}</span>
		{% endif %}
		<a href="https://www.facebook.com/IDFI.official"><img class="socialicons" src="{% static '/icons/fb.png' %}"></a>
		<a href="https://twitter.com/IDFIGeorgia"><img class="socialicons" src="{% static '/icons/tw.png' %}"></a>
		<a href="https://www.youtube.com/user/IDFIGeorgia"><img class="socialicons" src="{% static '/icons/yt.png' %}"></a>
		<a href="https://www.instagram.com/idfi.ge/"><img class="socialicons" src="{% static '/icons/ig.png' %}"></a>
		{% if lang == 'ka' %}
		<span class="contuctusfooter">{% t 'contact_us' %}</span>
		{% else %}
		<span class="contuctusfooteren">{% t 'contact_us' %}</span>
		{% endif %}
		<div class="footercontactyldivs">
			<img class="contacticons" src="{% static '/icons/Iconphone.svg' %}">
			<a class="contactinfo" href="tel:+995-322-2-92-15-14">+995 322 2 92 15 14</a>
		</div>
		<div class="footercontactyldivs" style="margin-left: 180px;">
			<img class="contacticons" src="{% static '/icons/Iconemail.svg' %}">
			<a class="contactinfo" href = "mailto:gorimaps@idfi.ge">gorimaps@idfi.ge</a>
		</div>
	</div>
	<div class="verticalline"></div>


</div>

<div class="mobilefooter">
	<center>
		{% if lang == 'ka' %}
		<span class="mobilefooterfindus">{% t 'find_us' %}</span>
		{% else %}
		<span class="mobilefooterfindusen">{% t 'find_us' %}</span>
		{% endif %}
		<a href="https://www.facebook.com/IDFI.official"><img class="socialicons" src="{% static '/icons/fb.png' %}"></a>
		<a href="https://twitter.com/IDFIGeorgia"><img class="socialicons" src="{% static '/icons/tw.png' %}"></a>
		<a href="https://www.youtube.com/user/IDFIGeorgia"><img class="socialicons" src="{% static '/icons/yt.png' %}"></a>
		<a href="https://www.instagram.com/idfi.ge/"><img class="socialicons" src="{% static '/icons/ig.png' %}"></a>
		{% if lang == 'ka' %}
		<span class="mobilefootercontactus">{% t 'contact_us' %}</span>
		{% else %}
		<span class="mobilefootercontactusen">{% t 'contact_us' %}</span>
		{% endif %}

		<div class="footercontactyldivs">
			<img class="footercontacticons" src="{% static '/icons/Iconphone.svg' %}">
			<a class="footercontactinfo" style="margin-left: 32px;" href="tel:+995-322-2-92-15-14">+995 322 2 92 15 14</a>
		</div>
		<div class="footercontactyldivs">
				<img class="footercontacticons" src="{% static '/icons/Iconemail.svg' %}">
				<a class="footercontactinfo" style="margin-left: 
				32px;"href = "mailto:gorimaps@idfi.ge">gorimaps@idfi.ge</a>
		</div>
		{% autoescape off %}
		<span class="mobilefooteraboutproject">{% t 'financialsupportertext' %}</span>
		{% endautoescape %}
		<div class="footersupports">
		<a href="https://www.usaid.gov/">
			<img class="footersupportsiconsusaid" src="{% static '/icons/usaid.png' %}"></a>
		<a href="https://zincnetwork.com/">
			<img class="footersupportsiconszinc" src="{% static '/icons/zinc.png' %}"></a>
		<a href="https://idfi.ge/ge"><img class="footersupportsiconsidfi" src="{% static '/icons/idfi.png' %}"></a>
		</div>

	</center>
</div>

<div class="underDiv"></div>
<div class="mobileunderDiv">
	{% if lang == 'ka' %}
	<span class="mobileunderdivheader">{% t "new_identity_of_gori" %}</span>
	{% else %}
	<span class="mobileunderdivheaderen">{% t "new_identity_of_gori" %}</span>
	{% endif %}
	<span class="mobilefooterallright">{% t 'allrightreserved' %}</span>
</div>

