{% load static %}

<div class="footerDiv">
	<div class="firstblockfooter">
		<span class="footerheader">გორის ახალი იდენტობა</span>
		<span class="allright">ყველა უფლება დაცულია © 2022</span>
		<span class="supporttext">პროექტის ფინანსური მხარდაჭერები არიან USAID და ZINC Network. პლატფორმა შექმნილია IDFI-ის მიერ.</span>
		<img class="supports" src="{% static '/icons/supporters.png' %}">
	</div>
	<div class="secondblockfooter">
		<span class="findusfooter">გვიპოვეთ</span>
		<a href="https://www.facebook.com/IDFI.official"><img class="socialicons" src="{% static '/icons/fb.png' %}"></a>
		<a href="https://twitter.com/IDFIGeorgia"><img class="socialicons" src="{% static '/icons/tw.png' %}"></a>
		<img class="socialicons" src="{% static '/icons/yt.png' %}">
		<img class="socialicons" src="{% static '/icons/ig.png' %}">
		<span class="contuctusfooter">დაგვიკავშირდით</span>
		<div class="footercontactyldivs">
			<img class="contacticons" src="{% static '/icons/Iconphone.png' %}">
			<a class="contactinfo" href="tel:+995-322-2-92-15-14">+995 322 2 92 15 14</a>
		</div>
		<div class="footercontactyldivs" style="margin-left: 180px;">
			<img class="contacticons" src="{% static '/icons/Iconemail.png' %}">
			<a class="contactinfo" href = "mailto:idfi@info.ge">info@idfi.ge</a>
		</div>
	</div>
	<div class="verticalline"></div>


</div>

<div class="mobilefooter">
	<center>
		<span class="mobilefooterfindus">გვიპოვეთ</span>
		<a href="https://www.facebook.com/IDFI.official">
			<img class="socialicons" src="{% static '/icons/fb.png' %}"></a>
		<a href="https://twitter.com/IDFIGeorgia"><img class="socialicons" src="{% static '/icons/tw.png' %}"></a>
		<img class="socialicons" src="{% static '/icons/yt.png' %}">
		<img class="socialicons" src="{% static '/icons/ig.png' %}">

		<span class="mobilefootercontactus">დაგვიკავშირდით</span>

		<div class="footercontactyldivs">
			<img class="footercontacticons" src="{% static '/icons/Iconphone.png' %}">
			<a class="footercontactinfo" style="margin-left: 32px;" href="tel:+995-322-2-92-15-14">+995 322 2 92 15 14</a>
		</div>
		<div class="footercontactyldivs">
				<img class="footercontacticons" src="{% static '/icons/Iconemail.png' %}">
				<a class="footercontactinfo" style="margin-left: 13px;"href = "mailto:idfi@info.ge">idfi@info.ge</a>
		</div>
		<span class="mobilefooteraboutproject">პროექტის ფინანსური მხარდაჭერები არიან
		USAID და ZINC Network. პლატფორმა შექმნილია
		IDFI-ის მიერ.</span>
		<div class="footersupports">
		<a href="https://www.usaid.gov/">
			<img class="footersupportsiconsusaid" src="{% static '/icons/usaid.png' %}"></a>
		<a href="https://zincnetwork.com/">
			<img class="footersupportsiconszinc" src="{% static '/icons/zinc.png' %}"></a>
		<a href="https://idfi.ge/ge"><img class="footersupportsiconsidfi" src="{% static '/icons/idfi.png' %}"></a>
		</div>

	</center>
</div>

<div class="underDiv"></div>
<div class="mobileunderDiv">
	<span class="mobileunderdivheader">გორის ახალი იდენტობა</span>
	<span class="mobilefooterallright">ყველა უფლება დაცულია © 2022</span>
</div>

