{% load static %}

<div class="footerDiv">
	<div class="firstblockfooter">
		<span class="footerheader">გორის ახალი იდენტობა</span>
		<span class="allright">ყველა უფლება დაცულია © 2022</span>
		<span class="supporttext">პროექტის ფინანსური მხარდაჭერები არიან USAID და ZINC Network. პლატფორმა შექმნილია IDFI-ის მიერ.</span>
		<img class="supports" src="{% static '/icons/supporters.png' %}">
	</div>
	<div class="secondblockfooter">
		<span class="findusfooter">გვიპოვეთ</span>
		<img class="socialicons" src="{% static '/icons/fb.png' %}">
		<img class="socialicons" src="{% static '/icons/tw.png' %}">
		<img class="socialicons" src="{% static '/icons/yt.png' %}">
		<img class="socialicons" src="{% static '/icons/ig.png' %}">
		<span class="contuctusfooter">დაგვიკავშირდით</span>
		<div class="footercontactyldivs">
			<img class="contacticons" src="{% static '/icons/Iconphone.png' %}">
			<span class="contactinfo">+995 322 2 92 15 14</span>
		</div>
		<div class="footercontactyldivs" style="margin-left: 180px;">
			<img class="contacticons" src="{% static '/icons/Iconemail.png' %}">
			<span class="contactinfo">info@idfi.ge</span>
		</div>
	</div>
	<div class="verticalline"></div>


</div>
<div class="underDiv"></div>

