{% load static %}
{% load i18n %}
{% load transl_extras %}

<nav class="navbar">

    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    {% if lang == 'ka' %}
    <a class="navheader" href="{% url 'index_page' lang=lang %}">{% t "new_identity_of_gori" %}</a>
    {% else %}
    <a class="navheaderen" href="{% url 'index_page' lang=lang %}">{% t "new_identity_of_gori" %}</a>
    {% endif %}

    <a class="menuitem1" href="{% url 'about_project' lang=lang %}">{% t "about_project" %}</a>
    <a class="menuitem2" href="{% url 'history' lang=lang %}">{% t "history" %}</a>
    <a class="menuitem3" href="{% url 'culture' lang=lang %}">{% t "culture" %}</a>
    <a class="menuitem4" href="{% url 'architect' lang=lang %}">{% t "architect" %}</a>
    <a class="menuitem5" href="{% url 'humans' lang=lang %}">{% t "humans" %}</a>
    <a class="menuitem6" href="{% url 'text_us' lang=lang %}">{% t "textus" %}</a>

<div id="myNavSearch" class="overlaysearch">
<span onclick="closeNavSearch()" style="cursor: pointer;">
<div class="closesearchDesktop" > 
<img src="{% static '/icons/Iconclosex.png' %}" class="closesearchX">
</div>
</span>
  <div class="overlaysearch-content">
    <center>
      <span class="searchheaderdesktop">ვებგვერდზე ძიება</span>
      <form action="/search/{{lang}}">
          <input type="text" id="search_text" name="search_text" placeholder="ვებ გვერდზე ძიება..." style="margin-top:77px">
          <button type="submit" style="background-color: transparent;background-repeat: no-repeat;border: none;cursor: pointer;">
            <img src="{% static '/icons/Iconmobilesearch.png' %}" ></button>
      <div class="linenavbar"></div></form>

    </center>
  </div>
</div>
    <span style="font-size:30px;cursor:pointer" onclick="openNavSearch()">
      <div class="search" onclick="myFunction()" onclick="openNavSearch()">
        <img class="searchIcon" src="{% static '/icons/Iconsearch.png' %}" >
    </div>
    </span>

<a href="{% if lang == 'ka' %}../en{% else %}../ka{%endif%}"> 
    <div class="langBar" onclick="myFunction()">
            {% if lang == 'ka' %}English{% else %}ქართული{%endif%}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <img class="angle"src="{% static '/icons/Iconglobus.png' %}"></div>
<!--         <span class="textSpanForLang">
        ქართული
    </span> -->
    </div></a>
    
    

    <div class="menu" onclick="openNav()">
          <div id="mymenu" class="menu-content"></div>
    <img class="iconmenu" src="{% static '/icons/Iconmenu.png' %}"></div>
<div class="map">
  {% if lang == 'ka' %}
  <center>
    <a href="../en" style="color: #3E3A2B; text-decoration: none; font-family:BarlowCondensedBold; font-size: 25px; margin-top: 7px; display:inline-block;">EN</a></center>
  {% else %}
  <center>
    <a href="../ka" style="color: #3E3A2B; text-decoration: none; font-family:BarlowCondensedBold; font-size: 25px; margin-top: 7px; display:inline-block;">KA</a></center>
  {% endif %}
</div>
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <img src="{% static '/icons/Iconclosex.png' %}" class="iconmenuclose">
      </a>
       <span class="mobilemenuheader">გორის ახალი იდენტობა</span>
      <div class="line6"></div>
      <center>
        <div class="mobilemenusearchbar">
          <form action="/search/{{lang}}">
          <input type="text" id="search_text" name="search_text" placeholder="ვებ გვერდზე ძიება...">
          <button type="submit" style="background-color: transparent;background-repeat: no-repeat;border: none;cursor: pointer;">
            <img src="{% static '/icons/Iconmobilesearch.png' %}" style="margin-top: 9px; display: inline-block;" class="Iconmobilesearch"></button>
            <div class="linenavbar"></div>
          </form>
        </div>
      </center>
      <div class="overlay-content"> 

        <center><br><br>
        <a href="{% url 'index_page' lang=lang %}" class="mobilemenuitem">მთავარი</a>
        <a href="{% url 'about_project' lang=lang %}" class="mobilemenuitem">პროექტის შესახებ</a>
        <a href="{% url 'history' lang=lang %}" class="mobilemenuitem">ისტორია</a>
        <a href="{% url 'culture' lang=lang %}" class="mobilemenuitem">კულტურა</a>
        <a href="{% url 'architect' lang=lang %}" class="mobilemenuitem">არქიტექტურა</a>
        <a href="{% url 'humans' lang=lang %}" class="mobilemenuitem">ადამიანები</a>
        <a href="{% url 'text_us' lang=lang %}" class="mobilemenuitem">მოგვწერეთ</a>
        </center>
      </div>
    </div>


</nav>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.langBar')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}


</script>
<script>
function openNav() {
  document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.height = "0%";
}

function searchFun() {
  document.alert('dsa');
}
</script>
<script>
function openNavSearch() {
  document.getElementById("myNavSearch").style.width = "100%";
}

function closeNavSearch() {
  document.getElementById("myNavSearch").style.width = "0%";
}
</script>
